[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/ "
verify_ssl = true

[dev-packages]

[packages]
django = "~=2.2"
django-haystack = "*"
markdown = "*"
whoosh = "*"
django-haystack = "*"

[requires]
python_version = "3"
