{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<body>
<div class="content-body">
    <div class="container">
        <div class="row">
            <main class="col-md-8">
                {% block my %}
                {% for post in article_list %}
                <article class="post post-{{ post.pk }}">
                    <header class="entry-header" >
                        <h1 class="text-111">
                            <hr class="hr-111">
                          <a href="{{ post.look_up }}">{{ post.title }}</a>
                        </h1>
                        <div class="text-112">
                            <span class="glyphicon glyphicon-time" style="color: rgb(102, 99, 99)"><a href="#"><time class="entry-date" >{{ post.created }}&nbsp;</time></a></span>
                            <span class="glyphicon glyphicon-pencil" style="color: rgb(102, 99, 99)"><a href="#">{{ post.comment_set.count }}&nbsp;</a></span>
                            <span class="glyphicon glyphicon-eye-open" style="color: rgb(102, 99, 99)"><a href="#">{{ post.views }}</a></span>
                        </div>
                        <div class="entry-content">
                          <p>{{ post.excerpt }}</p>
                        </div>
                    </header>
                </article>
                {% empty %}
                <div class="no-post">博主好像什么都没写！</div>
                {% endfor %}
                    <nav aria-label="Page navigation" style="text-align: center;">
                        <ul class="pagination">
                            {% if article_list.has_previous %}
                            <li><a class="extend prev" rel="next" href="{{ article_list.previous_page_number }}">上一页</a></li>
                            {% endif %}
                            {% if article_list.has_next %}
                            <li><a class="extend next" rel="next" href="{{ article_list.next_page_number }}">下一页</a></li>
                            {% endif %}
                        </ul>
                    </nav>
              </ul>
            </nav>
                {% endblock my %}
            </main>
        </div>
    </div>
</div>
</body>
</html>

